@model   StudentAppWebsite.Models.Submitter

@{
    ViewBag.Title = "Submitter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Submitter", "Admin", FormMethod.Get))
{
@*<div class="row">
        <div class="col-md-12">
            <div class="form-group" style="text-align: right; margin-right: 10px;">
                <a href="/Admin/EditSubmitter" class="btn btn-primary">Add More</a>
            </div>
        </div>
    </div>
    
    *@<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>

                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove">&times;
                        </a>
                    </div>
                </div>
                <div class="panel-body">

                    <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $("#example-4").dataTable({
                                aLengthMenu: [
                                    [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
                                ]
                            });
                        });
                    </script>
                    <div class="table-responsive">

                        <table id="example-4" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Email Id</th>
                                    <th>Mobile Number</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.SubmitterList.Count > 0)
                                {
                                    foreach (var item in Model.SubmitterList)
                                    {
                                    <tr>
                                        <td>@item.StudentName</td>
                                        <td>@item.EmailId</td>
                                        <td>@item.MobileNumber</td>
                                        <td>@(item.IsActive ? "Active" : "Inactive")</td>
                                        <td>@*<a href="/Admin/EditStream/@item.Id">Edit</a> |*@ <a href="/Admin/UpdateSubmitterStatus/@item.Id">@(item.IsActive == false ? "Activate" : "De-Activate")</a></td>


                                    </tr>
                                    }
                                }
                                

                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
}

