@model StudentAppWebsite.Models.ManageProfile
@{
    Layout = null;
    int count = Model.FriendRequests.Count;
    int[] CurrentUserfriendIds = new int[count];
    int[] CurrentUserFriendRequestIds = new int[count];
    string[] friendStatus = new string[count];

    if (Model.FriendRequests.Count > 0)
    {
        int i = 0;
        foreach (var item in Model.FriendRequests)
        {
            CurrentUserfriendIds[i] = ((item.id) > 0) ? Convert.ToInt32(item.id) : 0;
            CurrentUserFriendRequestIds[i] = ((item.FriendRequestId) > 0) ? Convert.ToInt32(item.FriendRequestId) : 0;
            friendStatus[i] = (!String.IsNullOrEmpty(item.Status) ? (item.Status).ToString() : "");
            i++;
        }
    }

    var index1 = Array.IndexOf(CurrentUserfriendIds, Convert.ToInt32(ViewBag.Id));
    var status1 = "";
    var friendRequestId1 = 0;
    if (index1 > -1)
    {
        status1 = friendStatus[index1];
        friendRequestId1 = CurrentUserFriendRequestIds[index1];
    }
    
}
<style>
    .low-res .dropdown-menu {
    width: auto;
    padding: 0px 6px;
}
        .low-res .dropdown-menu > li > a {
            padding: 5px 0px;
            text-align: center;
        }

    .resp {
        border: 1px solid #eee;
        margin: 12px 0;
        box-shadow: 0px 0px 1px 1px #eee;
    }

  

    @@media only screen and (min-width:300px) and (max-width:768px) {
        .login-style .col-md-5, .col-md-2 {
            width: auto;
        }

        .low-res .unfrnd-btn {
            padding: 0px 10px !important;
        }
    }
</style>

<div class="row low-res">


    @if (Model.lstFriends.Count > 0)
    {
        foreach (var item in Model.lstFriends)
        {
            if (item.id != Convert.ToInt32(Session["UserId"]))
            {
                var index2 = Array.IndexOf(CurrentUserfriendIds, item.id);
                int CurrentUserFriendRequestIds2 = 0;
                if (index2 > -1)
                {
                    CurrentUserFriendRequestIds2 = CurrentUserFriendRequestIds[index2];
                }                       
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 divideclas">
            <div class="row resp">
                <div class="col-md-5 col-sm-5 col-xs-5 img-res-style u-frnd" onclick="window.open('/User/UserProfile?Id=@item.id&FriendRequestId=@CurrentUserFriendRequestIds2','_self')">
                    <img style="width:150px !important;height:122px !important;" src="@(!string.IsNullOrEmpty(item.ProfileImage) ? item.ProfileImage : "/Content/no-image-available.png")" class="img-responsive frnd-list-profile"/>
                </div>
                <div class="">
                    <div class="name-div">
                        <span>
                            @{                                    
                                <a class="s-name" href="/User/UserProfile?Id=@item.id&FriendRequestId=@CurrentUserFriendRequestIds2">@item.FirstName &nbsp; @item.LastName </a>
                            }

                        </span>
                        <br />
                        <span>
                            @item.CityName
                        </span>
                        <br />
                        <span>
                            @item.StateName
                        </span>
                        <br />
                        <span>
                            @item.CountryName
                        </span>
                    </div>
                </div>

                <div class="frnd-btn">
                    @{
                if ((ViewBag.PageId) != "0")
                {
                    string[] blank = { };
                    var PageIds = String.IsNullOrEmpty(item.PageId) ? blank : item.PageId.Split(',');
                    var index = Array.IndexOf(PageIds, ViewBag.PageId);
                    if (index > -1)
                    {
                        <div class="dropdown fdrop-btn" style="margin-top: 15px !important;">
                            <button class="btn btn-default dropdown-toggle unfrnd-btn" type="button" data-toggle="dropdown" style="margin-bottom: 1px; margin-left: 14px;">
                            
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu frnd">
                                <li><a href="javascript:;" data-id="@item.id" data-NotificationId="@item.FriendRequestId" >Invitation sent</a></li>

                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown fdrop-btn" style="margin-top: 15px !important;">
                            <button class="dropdown-toggle btn btn-default dropdown-toggle unfrnd-btn" type="button" data-toggle="dropdown" style="margin-bottom: 1px;">
                                @* <i class="fa fa-check" aria-hidden="true"></i>Friends*@ <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu frnd">
                                <li><a href="javascript:;" data-id="@item.id" data-NotificationId="@item.FriendRequestId" onclick="UpdateInvitationStatus(this, 1)">Send invitation</a></li>
                            </ul>
                        </div>    
                    }
                }
                else
                {

                        <div class="dropdown fdrop-btn" style="margin-top: 15px !important;">
                            <button class="btn btn-default unfrnd-btn dropdown-toggle" type="button" data-toggle="dropdown">
                            
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu frnd" style="margin-top: 2px !important; min-width:auto !important;">
                                @{
                                           
                    var index = Array.IndexOf(CurrentUserfriendIds, item.id);
                    if (index > -1)
                    {
                        var status = friendStatus[index];
                        var CurrentUserFriendRequestIds1 = CurrentUserFriendRequestIds[index];
                        if (status == "1")
                        {
                                    <li id="unfriend_@item.StudentName"><a href="javascript:;" data-id="@item.id" data-FriendName="@item.StudentName" data-FriendRequestId="@CurrentUserFriendRequestIds1" onclick="RemoveFriend(this)">Unfriend</a></li>
                        }
                        else
                        {
                            if (status == "2")
                            {
                                    <li id="SendFriend_@item.StudentName"><a href="javascript:;" data-id="@item.id" data-FriendName="@item.StudentName"  onclick="Addtofriendlst(this)">Send friend request</a></li>
                            }
                            else
                            {
                                    <li><a href="javascript:;" data-id="@item.id" data-FriendName="@item.StudentName" data-FriendRequestId="@CurrentUserFriendRequestIds1" >Friend request sent</a></li>
                            }

                        }
                    }
                    else
                    {
                                    <li id="SendFriend1_@item.StudentName"><a href="javascript:;" data-id="@item.id" data-FriendName="@item.StudentName"  onclick="Addtofriendlst(this)">Send friend request</a></li>
                    }
                                                                                                                                                                                                                                                                                     
                                                               
                                }
                            </ul>
                        </div>
                }
                    }


                </div>


            </div>
        </div>
            }
        }
    }




</div>


<script>
    $(document).ready(function () {
        if ('@index1' > -1) {
            if ('@status1' == "1") {
                var html = '<a href="javascript:;" class="right-crop-btn btn btn-danger" data-id="@ViewBag.Id" data-FriendName="@Model.profile.StudentName" data-FriendRequestId="@friendRequestId1" onclick="RemoveFriend(this)">Unfriend</a>';
            }
            else {
                if ('@status1' == "2") {
                    var html = '<a href="javascript:;" class="right-crop-btn btn btn-primary" data-id="@ViewBag.Id" data-FriendName="@Model.profile.StudentName"  onclick="Addtofriendlst(this)">Send friend request</a>';
                }
                else {
                    var html = '<a href="javascript:;" class="right-crop-btn btn btn-success" data-id="@ViewBag.Id" data-FriendName="@Model.profile.StudentName" data-FriendRequestId="@friendRequestId1" >Friend request sent</a>';
                }
            }
        }
        else {
            var html = '<a href="javascript:;" class="right-crop-btn btn btn-primary" data-id="@ViewBag.Id" data-FriendName="@Model.profile.StudentName"  onclick="Addtofriendlst(this)">Send friend request</a>';
        }
        $('#frientStatus').html(html);
    });

    //$(document).ready(function () {
    //    $('.removepicicon').css("display", "none");
    //});
</script>
