@model StudentAppWebsite.Models.SubmitterRegistration
@{
    ViewBag.Title = "Facebook_register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>notetor.com</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Scripts/PhoneCountrySync/css/intlTelInput.css" rel="stylesheet" />
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/content/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Plugin/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Plugin/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
    <link href="~/Content/css/responsive-website.css" rel="stylesheet" />
    <link href="~/assets/css/xenon-core.css" rel="stylesheet" />
    <link href="~/Content/css/hover.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/jquery.maskedinput.min.js"></script>
    <link href="~/assets/css/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/PhoneCountrySync/js/intlTelInput.js"></script>
    <script src="~/Scripts/PhoneCountrySync/js/utils.js"></script>

    <style>

        .navbar-right {
            float: right !important;
            width: 55%;
        }

        #address {
            width: 310%;
        }
        .emailId {
            background-color:#fff !important;
        }
    </style>
</head>
<body>
    <section class="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="login-style">
                        <div class="navbar-header">
                            @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>*@
                            <a class="navbar-brand" href="/Home/Home">
                                @*<p class="logo">
                                        <img src="/content/images/logo.png" class="img-responsive">
                                    </p>*@
                                <p class="logo">
                                    <img src="~/Content/images/circle-logo.png" class="img-responsive logo-design icon-logo" / style="width:auto;box-shadow: 0px 0px 3px 2px #FFF;border-radius: 50%;">
                                    <img src="/content/images/logo.png" class="img-responsive logo-design textlogo">
                                </p>
                            </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right my-login">
                            @using (Html.BeginForm("SubmitterLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "regstrationForm" }))
                            {
                                <div class="pc-view">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <!-- <label>Email or Phone</label> -->
                                            <label>Email</label>
                                            <input type="text" name="UserName" id="UserPhoneEmail" class="form-control" />
                                            <div id="error_username" class="text-danger">@TempData["EmailError"]</div>
                                        </div>
                                        <div class="form-group" style="display: block;">
                                            <label style="font-size: 12px;">Remember me &nbsp;&nbsp;</label>
                                            @Html.CheckBoxFor(m => m.Rememberme);
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" name="LoginPassword" id="LoginPassword" class="form-control" />
                                            <div id="error_password" class="text-danger">@TempData["PasswordError"]</div>
                                        </div>
                                        <div class="form-group" style="display: block;">

                                            <div class="forget-pass"><a href="/Account/ForgotPassword">Forgot Password?</a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <button type="submit" class="btn btn-default login-btn-fb btn-block" style="margin-bottom: 0px !important;">log in</button>
                                        <a href="mailto:notetorhelp@gmail.com" class="btn btn-lnk" target="_blank" style="color:#ffff">
                                            May I help you?  &#128578
                                        </a>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <a href="/Home/FAQ" class="btn btn-warning" style="margin-top: 26px; padding: 1px 15px;">FAQ</a>
                                    </div>
                                </div>
                            }
                            @using (Html.BeginForm("SubmitterLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "regstrationForm" }))
                            {
                                <div class="mobile-view">
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="form-group">
                                            <!-- <label>Email or Phone</label> -->
                                            <label>Email</label>
                                            <input type="text" name="UserName1" id="UserPhoneEmail1" class="form-control" />
                                            <div id="error_username1" class="text-danger">@TempData["EmailError"]</div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" name="LoginPassword1" id="LoginPassword1" class="form-control" />
                                            <div id="error_password1" class="text-danger">@TempData["PasswordError"]</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <button type="submit" class="btn btn-default login-btn-fb btn-block1" style="margin-bottom: 0px !important;">log in</button>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label style="font-size: 11px;">Remember me &nbsp;&nbsp;</label>
                                            @Html.CheckBoxFor(m => m.Rememberme);
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <div class="forget-pass"><a href="/Account/ForgotPassword">Forgot Password?</a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <a href="/Home/FAQ" class="btn btn-warning faaq" style="margin-top: 5px; padding: 1px 15px;">FAQ</a>
                                    </div>
                                </div>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="contentaria-division">
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-md-7 col-sm-5">
                      <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                          <h2 class="quote">Making  Students life Easier by providing online learning</h2>
                          <img src="~/Content/images/note.png" /> </div>
                      </div>
                    </div>*@
                @using (Html.BeginForm("SubmitterRegistration", "Account", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
                {
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-8 col-xs-12  off-margin res-chan">
                        <div class="res-changes">
                            <h1>Create an account</h1>
                            <div class="adj clearfix">
                                <div class="form-1st">
                                    <div class="form-group">
                                        <label class="sr-only">First name</label>
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                        <div class="text-danger" id="msgSpanF">@Html.ValidationMessageFor(model => model.FirstName)</div>
                                    </div>
                                </div>
                                <div class="form-2nd">
                                    <div class="form-group">
                                        <label class="sr-only">Last name</label>
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                        <div class="text-danger" id="msgSpanL">@Html.ValidationMessageFor(model => model.LastName)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="adj clearfix">
                                <div class="form-1st">
                                    <div class="form-group">
                                        <label class="sr-only">Email address</label>
                                        @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control emailId", @autocomplete = "off", @readonly = "readonly", onfocus = "this.removeAttribute('readonly');", placeholder = "Email" })
                                        <div class="text-danger">@Html.ValidationMessageFor(model => model.EmailID)</div>
                                        <span id="msgspan" style="color: #A94442"></span><span class="otp-style"><a href="javascript:;" class="btn btn-primary" id="SendOTP" style="text-decoration: none" data-dismiss="modal" aria-hidden="true">Send OTP </a></span>
                                    </div>
                                </div>
                                <div class="form-2nd">
                                    <div class="form-group">
                                        <label class="sr-only">OTP</label>
                                        <div style="display: inherit;position: relative;">
                                            <input placeholder="OTP" id="otp" class="form-control" type="text">
                                            <i id="checkVerified" class="fa fa-check" style="display:none;color: green;position: absolute;right: 0;top: 12px;right: -18px;"></i>
                                        </div>
                                        <input type="hidden" id="hdnRequest" value="" />
                                        <p id="msgspan1" style="color: red;"></p>
                                        <span class="otp-style"><a href="javascript:;" class="btn btn-primary" id="VerifyOTP" style="text-decoration: none" data-dismiss="modal" aria-hidden="true">Verify OTP</a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="adj clearfix">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control", placeholder = "Mobile Number", @id = "VerifyphoneNo" })
                                    <div class="text-danger">@Html.ValidationMessageFor(model => model.MobileNumber)</div>
                                    <div id="phoneerror" style="display: none" class="text-danger"></div>
                                    <span id="msgspanPhone" style="color: #A94442"></span>
                                    @Html.HiddenFor(model => model.ISD_Code, new { @id = "isdCode" })
                                </div>
                            </div> -->
                            <div class="adj clearfix">
                                <div class="form-1st">
                                    <div class="form-group">
                                        <label class="sr-only">Password</label>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                        <div class="text-danger" id="msgSpanP">@Html.ValidationMessageFor(model => model.Password)</div>
                                    </div>
                                </div>
                                <div class="form-2nd">
                                    <div class="form-group">
                                        <label class="sr-only">Confirm password</label>
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                        <div class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="adj clearfix">
                                <div class="form-1st">
                                    <div class="form-group">
                                        <label class="birthday">Birthday</label>
                                        <div>
                                            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control", placeholder = "DD/MM/YYYY" })
                                            <div class="text-danger">@Html.ValidationMessageFor(model => model.DOB)</div>
                                            <span id="msgdob" style="color: #A94442"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-2nd">
                                    <div class="form-group">
                                        <div class="male-female">
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @checked = "checked" })
                                                Female
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Gender, "Male")
                                                Male
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="adj clearfix">
                                    <div class="form-group">
                                        <label class="sr-only">Name Of (Coaching/College/School)</label>
                                        @Html.DropDownListFor(model => model.CollegeID, new SelectList(Model.InstituteModelList, "ID", "InstituteName"), "Name Of (Coaching/College/School)", new { @class = "form-control" })
                                        <div class="text-danger">@Html.ValidationMessageFor(model => model.CollegeID)</div>
                                    </div>
                                </div>*@
                            <div class="adj clearfix">
                                <div class="form-group">
                                    <label class="birthday">Profile Picture</label>
                                    @Html.HiddenFor(model => model.Picture)
                                    <input type="file" id="ProfilePicture" name="ProfilePicture" required style="height: auto; padding: 3px 4px;" />
                                    <span id="errormsg" style="color: red; display: block;"></span>
                                </div>
                            </div>
                            <div class="adj clearfix">
                                <div class="form1" style="display:none">
                                    <div class="form-group">
                                        <label class="sr-only">Country</label>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Address", @id = "address" })
                                        @*<input type="text" id="address" class="form-control" style="width: 310%;" />*@
                                    </div>
                                </div>
                                <table style="display:none">
                                    <tr>
                                        <td class="label">Street address</td>
                                        <td class="slimField"><input class="field" id="street_number" /></td>
                                        <td class="wideField" colspan="2"><input class="field" id="route" /></td>
                                    </tr>
                                    <tr>
                                        <td class="label">City</td>
                                        <td class="wideField" colspan="3"><input class="field" id="locality" name="cityname" /></td>
                                    </tr>
                                    <tr>
                                        <td class="label">State</td>
                                        <td class="slimField"><input class="field" id="administrative_area_level_1" name="statename" /></td>

                                    </tr>
                                    <tr>
                                        <td class="label">Zip code</td>
                                        <td class="wideField"><input class="field" id="postal_code" /></td>
                                    </tr>
                                    <tr>
                                        <td class="label">Country</td>
                                        <td class="wideField" colspan="3"><input class="field" id="country" name="countryname" /></td>
                                    </tr>
                                </table>
                                <div class="adj form1">
                                    <div class=" form-group">
                                        <label class="sr-only">Country</label>
                                        @Html.DropDownListFor(model => model.Country, new SelectList(Model.Countrylist, "ID", "CountryName"), "--Select Country--", new { @class = "all-select address", placeholder = "Country" })
                                        <div class="text-danger">@Html.ValidationMessageFor(model => model.Country)</div>
                                    </div>
                                </div>
                                <div class="form2">
                                    <div class="form-group">
                                        <label class="sr-only">state</label>
                                        @Html.DropDownListFor(model => model.state, new SelectList(Model.statelist, "ID", "StateName"), "--Select State--", new { @class = "all-select address", placeholder = "State" })
                                        <div class="text-danger">@Html.ValidationMessageFor(model => model.state)</div>
                                    </div>
                                </div>
                                <div class="form3">
                                    <div class="form-group">
                                        <label class="sr-only">City</label>
                                        @Html.DropDownListFor(model => model.City, new SelectList(Model.citylist, "ID", "CityName"), "--Select City--", new { @class = "all-select address", placeholder = "City" })
                                        <div class="text-danger">@Html.ValidationMessageFor(model => model.City)</div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group clearfix">
                                <div class="col-md-4 col-md-offset-1 col-xs-12">
                                    <input type="submit" class="btn-account" value="Create account" id="btnSubmit" onclick="return checkPost()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>

                }
            </div>
        </div>
    </div>

    <section class="navigation">
        <!-- Footer -->
        <footer class="text-center text-white" style="border:none !important;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center footerlinks">
                     <a class="link" target="_blank" href="/Home/Contact">Contact Details</a>
                     <a class="link" target="_blank" href="/Home/TermsandConditions">Terms and Conditions</a>
                     <a class="link" target="_blank" href="/Home/AboutUs">About Us</a>
                     <a class="link" target="_blank" href="/Home/PrivacyPolicies">Privacy Policies</a>
                     <a target="_blank" href="/Home/RefundCancellation">Refund and Cancellation Policies</a>
                    </p>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3">
                © 2022 Notetor, LLC. All Rights Reserved.
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>

    @Html.Hidden("ip", (object)ViewBag.ip)
</body>
</html>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Plugin/mathscribe/jscurry-0.4.0.min.js"></script>
<script src="~/Plugin/mathscribe/jqmath-0.4.3.js"></script>
<script src="~/Scripts/Calculator.js"></script>
<script src="~/Content/js/jquery.slimscroll.min.js"></script>
<script src="~/Content/js/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/datatables/dataTables.bootstrap.js"></script>
<script src="~/Content/js/datatables/tabletools/dataTables.tableTools.min.js"></script>
<link href="~/Content/js/datatables/yadcf/jquery.dataTables.yadcf.css" rel="stylesheet" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC-kow6z2nA8oyn24wQw1Yw6H6CjYqswT0&libraries=places&language=en-AU"></script>
<script src="~/Scripts/Account/SubmitterLogin.js"></script>
